/*TODAS AS INFORMACOES ABAIXO DAS SEASONS*/
.infoAnime-bg {
  width: 100%;
  height: 700px;
}

.infoAnime-container {
  margin-left: auto;
  margin-right: auto;
}

.infoAnime-conteudo {
  margin-left: auto;
  margin-right: auto;
}

.infoAnime-conteudo .bannerCapa {
  position: relative;
  height: 700px;
  filter: brightness(70%);
  mask-image: linear-gradient(to top, transparent 15%, rgba(14, 14, 14) 100%);
}

.geral-infoanime {
  position: absolute;
  left: 80px;
  top: 14%;
}

/*CONFIGURA TITULO NO CARD - H1*/
.infoAnime-conteudo .title-anime {
  color: #5c0eec;
  max-width: 30ch;
  font-size: 3.5rem;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
}
.infoAnime-conteudo .title-anime2 {
  color: var(--color-cinza);
  padding-bottom: 10px;
  max-width: 30ch;
  font-size: 1.2rem;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
}

.infoAnime-conteudo .descricao-anime {
  margin-top: 20px;
  font-size: 1rem;
  color: #cfd0d1;
  line-height: 22px;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* NUMERO DE LINHAS A MOSTRA */
  -webkit-box-orient: vertical;
}

.geral-infoanime .categorias span {
  color: #f9f9fc;
}

.seasons-bg {
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 80px;
}

.seasons-conteudo h3 {
  color: #fff;
}

/*TUDO SOBRE SEASONS*/
.seasons {
  display: grid;
  grid-template-columns: repeat(5, 320px);
  gap: 20px;
}

/*CARDS SOBRE AS TEMPORADAS*/
.season {
  flex-wrap: wrap;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.season img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  opacity: 0.4;
}

/*ANIMACAO AO PASSAR O MOUSE*/
.season img:hover {
  transition: 0.3s;
  opacity: 1;
}
.season:hover {
  border: 1px solid var(--color-purple);
  transition: 0.2s ease;
}

@media (max-width: 800px) {
  .infoAnime-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .infoAnime-conteudo .bannerCapa {
    position: relative;
    filter: brightness(70%);
    mask-image: linear-gradient(to top, transparent 15%, rgba(14, 14, 14) 100%);
  }
  .bannerCapa img {
    height: 600px;
    object-fit: cover;
  }

  .geral-infoanime {
    position: absolute;
    left: 20px;
    top: 25%;
  }

  /*CONFIGURA TITULO NO CARD - H1*/
  .infoAnime-conteudo .title-anime {
    max-width: 30ch;
    font-size: 3.4rem;
    color: var(--color-purple);
  }
  .infoAnime-conteudo .title-anime2 {
    padding-bottom: 0px;
    font-size: 1.5rem;
  }

  .infoAnime-conteudo .descricao-anime {
    margin-top: 30px;
    line-height: 22px;
    font-size: 1.2rem;
    max-width: 600px;
  }

  .geral-infoanime .categorias {
    display: none;
  }

  .seasons-bg {
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 0px;
  }

  .seasons-conteudo h3 {
    margin-left: 20px;
    color: #fff;
  }

  /*TUDO SOBRE SEASONS*/
  .seasons {
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    position: relative;
    margin: 20px;
  }

  /*CARDS SOBRE AS TEMPORADAS*/
  .season {
    cursor: pointer;
  }
  .season img {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    opacity: 1;
  }

  /*ANIMACAO AO PASSAR O MOUSE*/
  .season img:hover {
    display: none;
  }
  .season:hover {
    display: none;
  }
}
