@mixin header-def {
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 30;
  transition: 0.3s ease-in-out;
}
.header-bg {
  @include header-def();
}

.header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.header .logo {
  width: 60px;
}

/* NAVIGATION GERAL */
.header-menu {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header.sticky {
  background: rgba(0, 0, 0, 0.8);
  transition: 0.3s ease-in-out;
}

/* ICONES DA DIREITA DO HEADER */
@mixin img-header-def {
  filter: invert(100);
  width: 100%;
  cursor: pointer;
}
.header-menu i {
  @include img-header-def();
}

/* RESPONSIVIDADE MOBILE*/
@media (max-width: 800px) {
  .header-bg {
    width: 100%;
  }
  .header {
    padding: 5px 20px;
  }
  .header-menu {
    gap: 25px;
  }
}
