.modal-hamburger {
  position: fixed;
  top: 10%;
  right: 30px;
  z-index: 33;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal {
  width: 200px;
  padding: 20px;
  background-color: #1b1d24;
  border-radius: 6px;
  transition: 0.2s linear;
}
.balao2:after {
  /*Triangulo*/
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  /*Faz seta "apontar para baixo. Definir o valor como 'top' fará ela "apontar para cima" */
  /*Aqui entra a cor da "aba" do balão */
  border-bottom: 20px solid #1b1d24;
  top: -18px; /*localização. Experimente alterar para 'bottom'*/
  right: 5px;
  z-index: 30;
}

.modal ul {
  background-color: transparent;
}

.modal ul .item {
  margin: 10px;
  padding: 10px;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.modal ul .item:hover {
  padding: 10px 20px;
  background-color: #17181f;
  border-radius: 4px;
}
// ICONES NO MODAL
.modal ul li i {
  border-radius: 4px;
  margin-right: 10px;
}
.fechar .bg-not {
  background-color: transparent;
}

// BOTAO E LI DO FECHAR
.fechar {
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #f2000d;
}
.fechar .modal-icon {
  display: flex;
}

@keyframes animate-modal {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.modal-hamburger.mostrar {
  display: flex;
}

.mostrar .modal {
  animation: animate-modal 0.3s;
}

// ----------------------
