.modal-hamburger {
  position: fixed;
  z-index: 33;
  align-items: center;
  justify-content: center;
  display: none;
  background-color: rgba($color: #0e0e0e, $alpha: 0.6);
  width: 100vw;
  height: 100%;
}

.modal {
  position: absolute;
  top: 10%;
  right: 30px;
  width: 260px;
  padding: 20px;
  background-color: #18181b;
  border-radius: 6px;
  transition: 0.2s linear;
}
.balao2:after {
  /*Triangulo*/
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  /*Faz seta "apontar para baixo. Definir o valor como 'top' fará ela "apontar para cima" */
  /*Aqui entra a cor da "aba" do balão */
  border-bottom: 20px solid #18181b;
  top: -18px; /*localização. Experimente alterar para 'bottom'*/
  right: 5px;
  z-index: -1;
}

.modal ul {
  background-color: transparent;
}
// LI - ITEM
.modal ul .item {
  margin: 10px;
  padding: 10px;
  color: #fff;
  transition: 0.2s ease-in-out;
}
// DESCRICAO DO ITEM DA LISTA
.modal ul .item .text-icon p {
  font-size: 0.6rem;
  color: #d4d4d4;
}
.modal ul .item:hover {
  padding: 10px 20px;
  background-color: #0e0e12;
  border-radius: 4px;
}
// CONT ICONES NO MODAL
.modal ul .item-icon {
  align-items: center;
  display: flex;
}
// ICONES NO MODAL
.modal ul li i {
  margin-right: 12px;
  background-color: #0e0e12;
}

@keyframes animate-modal {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.modal-hamburger.mostrar {
  display: flex;
}
.mostrar .modal {
  animation: animate-modal 0.3s;
}

// ----------------------
