/*CARD NO FINAL DO MAIN - PASS MENSAL*/
.premium-bg {
  margin-top: 100px;
  margin-bottom: 100px;
  /* background-color: var(--color-white); */
}

@mixin premium-contA {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.premium-container {
  @include premium-contA();
}

@mixin premium-cont-def {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 550px;
  height: 280px;
  border-top: 2px solid var(--color-red);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
}
.premium-conteudo {
  @include premium-cont-def();
}

.premium-texts {
  color: var(--color-white);
}
.premium-title {
  margin: 0px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.premium-conteudo .premium-imagem {
  margin: 0px;
  padding: 0px;
}
.premium-imagem img {
  width: 60px;
}

/*CONFIGURA BOTAO DO SLIDE TEXTO*/
button {
  background-color: none;
  border: none;
  outline: none;
}

.premium-btn {
  color: #f9f9fc;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: var(--color-red);
  font-size: 1.1rem;
  margin: 0 auto;
  border-radius: 4px;
  transition: 0.3s linear;
  width: max-content;
  padding: 0px 40px;
}

.premium-btn:hover {
  scale: 1.1;
}

@media (max-width: 800px) {
  .premium-bg {
    margin: 100px 40px;
  }

  .premium-conteudo {
    width: 460px;
    height: 300px;
    padding: 20px 30px;
  }

  .premium-btn {
    font-size: 1rem;
    padding: 0px 40px;
  }
}

@media (max-width: 600px) {
  .premium-bg {
    margin: 100px 20px;
  }

  .premium-conteudo {
    width: 360px;
    height: 100%;
    padding: 20px 30px;
  }

  .premium-btn {
    margin-top: 20px;
    font-size: 1rem;
    padding: 10px 40px;
  }
}

@media (max-width: 500px) {
  .premium-bg {
    margin: 100px 10px;
  }

  .premium-conteudo {
    width: auto;
    height: 100%;
    padding: 20px;
  }

  .premium-btn {
    margin-top: 20px;
    font-size: 1rem;
    padding: 10px 40px;
  }
}
