/*AREA GERAL DOS SLIDES BANNER COM ANIMACAO*/
.sliderTop {
  overflow: hidden;
}

/*CONFIGURA TUDO SOBRE OS SLIDES*/
.slidesTop {
  width: 500%;
  margin: 0 auto;
  display: flex;
}

/*RADIOS SOMEM*/
.slides input {
  display: none;
}

/*CONFIGURA VELOCIDADE DOS SLIDES E TAMANHO*/
.slide {
  width: 20%;
  height: 100vh;
  position: relative;
  transition: step-start;
  display: flex;
}

/*CONFIGURA CONTAINER TITULO/TEXTO NO SLIDE*/
.info-slide {
  padding-top: 110px;
  padding-left: 170px;
  color: #fff;
  max-width: 500px;
  position: absolute;
  z-index: 10;
}

/*TITULO DO ANIME NO SLIDE*/
.info-slide > img {
  width: 450px;
  transform: scaleY(0.9);
}

/*CONFIGURA TAMANHO DOS TEXTOS DO SLIDE - SINOPSE*/
.info-slide div > .sinopse {
  margin-top: 20px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.1rem;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* NUMERO MAX DE LINHAS */
  -webkit-box-orient: vertical;
}

/*GENEROS DOS ANIMES*/
.categorias {
  margin-top: 20px;
}

/*GENEROS DOS ANIMES*/
.categorias span {
  border: 1px ridge #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 8px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

/*CONFIGURA BOTAO DO SLIDE TEXTO*/
.btn-slide {
  color: #cfd0d1;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  background-color: #f2000d;
  font-size: 22px;
  margin-top: 30px;
  border-radius: 20px;
  padding: 10px;
  width: 140px;
}

.btn-slide:hover {
  scale: 1.1;
  transition: 0.3s ease;
}

/*DIV CONTAINER DA IMAGEM NO SLIDE*/
.imagem-slide {
  width: 100%;
  -webkit-mask-image: linear-gradient(to top, transparent 1%, rgb(27, 27, 27) 70%);
          mask-image: linear-gradient(to top, transparent 1%, rgb(27, 27, 27) 70%);
}

/*CONFIGURA IMAGEM DOS SLIDES - TAMANHO, ETC*/
.imagem-slide img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(80%);
  -webkit-mask-image: linear-gradient(to top, transparent 1%, rgb(27, 27, 27) 80%);
          mask-image: linear-gradient(to top, transparent 1%, rgb(27, 27, 27) 80%);
}

@media (max-width: 800px) {
  .sliderTop {
    overflow: hidden;
    height: 600px;
  }
  /*CONFIGURA CONTAINER TITULO/TEXTO NO SLIDE*/
  .info-slide {
    padding-top: 100px;
    padding-left: 20px;
  }
  .imagem-slide {
    -webkit-mask-image: linear-gradient(to top, transparent 5%, rgb(27, 27, 27) 60%);
            mask-image: linear-gradient(to top, transparent 5%, rgb(27, 27, 27) 60%);
  }
  .imagem-slide img {
    filter: brightness(60%);
    height: 600px;
  }
  .info-slide > img {
    width: 380px;
  }
  /*CONFIGURA TAMANHO DOS TEXTOS DO SLIDE - SINOPSE*/
  .info-slide div > .sinopse {
    font-size: 1.1rem;
    max-width: 370px;
    padding-top: 0px;
  }
  .categorias {
    display: none;
  }
  .btn-slide {
    font-size: 18px;
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .sliderTop {
    overflow: hidden;
    height: 540px;
  }
  /*CONFIGURA CONTAINER TITULO/TEXTO NO SLIDE*/
  .info-slide {
    padding-top: 280px;
    padding-left: 20px;
  }
  .info-slide > img {
    width: 300px;
  }
  .imagem-slide {
    -webkit-mask-image: linear-gradient(to top, transparent 10%, rgb(27, 27, 27) 80%);
            mask-image: linear-gradient(to top, transparent 10%, rgb(27, 27, 27) 80%);
  }
  .imagem-slide img {
    filter: brightness(60%);
    height: 540px;
  }
  /*CONFIGURA TAMANHO DOS TEXTOS DO SLIDE - SINOPSE*/
  .info-slide div > .sinopse {
    display: none;
  }
}
@media (max-width: 500px) {
  .sliderTop {
    overflow: hidden;
    height: 500px;
  }
  /*CONFIGURA CONTAINER TITULO/TEXTO NO SLIDE*/
  .info-slide {
    margin-top: 270px;
    padding-top: 0px;
  }
  .info-slide > img {
    width: 270px;
  }
  .imagem-slide {
    -webkit-mask-image: linear-gradient(to top, transparent 1%, rgb(27, 27, 27) 80%);
            mask-image: linear-gradient(to top, transparent 1%, rgb(27, 27, 27) 80%);
  }
  .imagem-slide img {
    filter: brightness(70%);
    height: 500px;
  }
  /*TITULO DO ANIME NO SLIDE*/
  .info-slide .title-slide {
    font-size: 2rem;
  }
  /*CONFIGURA TAMANHO DOS TEXTOS DO SLIDE - SINOPSE*/
  .info-slide div > .sinopse {
    display: none;
  }
  .info-slide .categorias {
    display: none;
  }
  .btn-slide {
    margin-top: 10px;
  }
}/*# sourceMappingURL=slides.css.map */