.header-bg {
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: 0.5s ease-in-out;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
header.sticky {
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s ease-in-out;
}
/* NAV SIDEBAR */
.header .leftmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 45px;
}

/* LOGO DO SITE */
.header .logo {
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
/* NAVIGATION GERAL */
.rightmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 20px;
  color: var(--cor-8);
}
.rightmenu .search {
  cursor: pointer;
}
.rightmenu #login {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--cor-8);
}

/* RESPONSIVIDADE MOBILE*/
@media (max-width: 800px) {
  .header-bg {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .header .leftmenu {
    margin-right: 60px;
  }
  .header .logo {
    scale: 0.8;
  }
  .header {
    padding: 5px 20px;
  }
  /* LOGOMARCA */
  .header a {
    font-size: 0.8rem;
  }
}
