.modal-hamburger {
  position: fixed;
  z-index: 33;
  align-items: center;
  justify-content: center;
  display: none;
  background-color: rgba(14, 14, 14, 0.6);
  width: 100vw;
  height: 100%;
}

.modalLeft {
  position: absolute;
  left: -10px;
  width: 250px;
  height: 100%;
  background-color: var(--cor-2);
  padding: 0px 20px;
  animation: animate-modal 0.3s;
}

.modalLeft ul {
  margin-top: 80px;
  background-color: transparent;
  animation: animate-modal 0.5s;
}
/* CADA TEXTO ITEM */
.modalLeft ul .item a {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.item a .item-icon {
  width: 30px;
}

/* AREA DE TEXTO */
.item a .text-icon {
  margin-left: 10px;
}

.modalLeft ul .item .text-icon p {
  font-size: 0.6rem;
  color: #d4d4d4;
}

.modalLeft ul .item a:hover {
  padding: 10px 20px;
  background-color: #000000;
  border-radius: 4px;
}

.modalLeft ul .item-icon {
  display: flex;
  align-items: center;
}

.modalLeft ul li i {
  margin-right: 12px;
}

@keyframes animate-modal {
  from {
    opacity: 0;
    transform: translate3d(-60px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.modal-hamburger.mostrar {
  display: flex;
}

.mostrar .modal {
  animation: animate-modal 0.3s;
}

.modal-login {
  position: fixed;
  z-index: 33;
  align-items: center;
  justify-content: center;
  display: none;
  background-color: rgba(14, 14, 14, 0.6);
  width: 100vw;
  height: 100%;
}
