@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500;700&display=swap");

@import "./global.css";
@import "../css/utilitarios.css/cores.css";
@import "../css/utilitarios.css/tipografia.css";
@import "../css/home/header.css";
@import "../css/slides.css";
@import "../css/home/popup.css";
@import "../css/home/modals.css";
@import "../css/sobre.css";
@import "../css/home/aviso.css";
@import "../css/cardsH.css";
@import "../css/cardsV.css";
@import "../css/animes.css";
@import "../css/premium.css";
@import "../css/home/footer.css";

/*CONFIGURA O NAV MANUAL (BOLINHAS) COM CLIQUE*/
.manual-nav {
  max-width: 1800px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -830px;
  margin-top: 490px;
}
/*CONFIGURA ESTILO DOS BOTOES BOLINHAS*/
.manual-btn {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
/*CONFIGURA DISTANCIA ENTRE AS BOLINHAS*/
.manual-btn:not(:last-child) {
  margin-right: 20px;
}
/*COR DO RADIO AO PASSAR O MOUSE*/
.manual-btn:hover {
  background-color: #6d0fe7;
}

/*CONFIGURA O MOVIMENTO DOS SLIDES*/
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}

/*CONFIGURA O NAV AUTOMATICO (BOLINHAS)*/
.nav-auto {
  max-width: 1600px;
  position: absolute;
  width: 100%;
  margin-top: 490px;
  display: flex;
  justify-content: center;
  margin-left: -730px;
}
.nav-auto div:not(:last-child) {
  margin-right: 20px;
}
/*CONFIGURA O ESTILO DAS (BOLINHAS)*/
.nav-auto div {
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

/*CONFIGURA OS RADIOS QUE ESTA CLICADO*/
#radio1:checked ~ .nav-auto .auto-btn1 {
  background-color: var(--color-neutral-10);
}
#radio2:checked ~ .nav-auto .auto-btn2 {
  background-color: var(--color-neutral-10);
}
#radio3:checked ~ .nav-auto .auto-btn3 {
  background-color: var(--color-neutral-10);
}
#radio4:checked ~ .nav-auto .auto-btn4 {
  background-color: var(--color-neutral-10);
}
#radio5:checked ~ .nav-auto .auto-btn5 {
  background-color: var(--color-neutral-10);
}
/*-----------------------------------------------------------*/
input[type="radio"] {
  display: none;
}
