/*TUDO SOBRE A PAGINA SOBRE*/
.sobre-bg {
  overflow: hidden;
  padding-bottom: 100px;
  background-color: var(--cor-2);
}
.bannerImagem {
  width: 100%;
  height: 550px;
  overflow: hidden;
  background-color: var(--cor-11);
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 1%,
    rgb(27, 27, 27) 90%
  );
}

/*CONFIGURA CONTAINER DO SOBRE*/
.sobre-container {
  margin: 60px auto;
  max-width: 1400px;
  padding: 20px;
  /* background-color: var(--cor-3); */
}
.sobre-container h2 {
  margin-bottom: 20px;
}
.accordion {
  background-color: #eee;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  transition: 0.4s ease-in-out;
}

.active,
.accordion:hover {
  background-color: var(--cor-7);
}
/* SINAL DE + */
.accordion:after {
  content: "\002B";
  color: var(--cor-3);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
/* INAL DE - */
.active:after {
  content: "\2212";
  color: var(--cor-5);
}
.panel {
  padding: 0px 20px;
  margin-bottom: 40px;
  background-color: var(--cor-9);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel p {
  padding: 20px 0px;
}

@media (max-width: 1200px) {
  .sobre-bg {
    overflow: hidden;
  }
  .sobre-container {
    margin: 40px;
  }
  .bannerImagem {
    width: 120%;
  }
}
@media (max-width: 800px) {
  .sobre-bg {
    overflow: hidden;
  }
  .bannerImagem {
    width: 120%;
    height: 400px;
  }
  .bannerImagem img {
    width: 140%;
    height: 400px;
  }
  .sobre-container {
    margin: 10px;
  }
}
@media (max-width: 440px) {
  .sobre-bg {
    padding-bottom: 40px;
    overflow: hidden;
    background-color: var(--cor-2);
  }
  .bannerImagem {
    width: 120%;
    height: 250px;
  }
  .bannerImagem img {
    height: 300px;
  }
  .accordion {
    font-size: 0.9rem;
  }
  .sobre-container {
    margin: 10px;
  }
}
